.btns-panel button {
    height: 36px;
    width: 36px;
    background-color: var(--black-100);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.2s;
}

.btns-panel button:last-child{
    transform: scaleX(-1);
}

.btns-panel button:hover {
    background-color: var(--yellow);
}

.btns-panel button:disabled {
    background-color: #D6D6D6;
    cursor: not-allowed;
}

.desktop-only-buttons {
    display: none;
}

.btns-panel {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: center
}

.btns-panel--desktop {
    display: none;
    gap: 17px;
}

@media (min-width: 1366px) {
    .btns-panel--desktop {
        display: flex;
        
    }
    .btns-panel--mobile {
        display: none;
    }
    .btns-panel button{
        height: 44px;
        width: 44px;
    }
}

.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--gray-bg);
}
.dot--active{
    background-color: var(--black-100);
}
.btns-panel__dots{
    display: flex;
    gap: 6px;
}